.content
  .left-content
    = render "shared/side_bar"
  .right-content
    .right-content__header
      .right-content__header__group
        %p.right-content__header__group__name test-group
        %p.right-content__header__group__index member:yuta
      = link_to 'Edit',"",class: "right-content__header__edit"
    .right-content__messages
      = render "message"
    .input-form
      %form.form
        .input-box
          %input{type: "text",class: "input-box__text",placeholder: "type a message"}
          %label.input-box__image
            = fa_icon 'image'
            %input{type: "file",class: "input-box__image__input"}
        %input{type: "submit",value: "send",class: "input-submit"}


