.content
  .left-content
    .left-content__user-info test_user
    .left-content__group-index
      .left-content__group--check
  .right-content
    .right-content__group-info
    .right-content__message
      .right-content__message__content--reading
        .right-content__message__content__user-info
        .right-content__message__content__text
    .input-form




