.content
  .left-content
    .left-header
      .left-header__user
        %p.left-header__user__name
        .left-header__user__method
    .left-groups
      .left-group
        .left-group__name test_group
        .left-group__latest-message Hello,World
  .right-content
    .right-content__header
    .right-content__main
      .right-content__messages
        .right-content__message
        .right-content__message__user-name
        .right-content__message__user-message
    .input-form




