.content
  .infomation-box
    .notice
  .left-content
    .left-header
      .left-header__user
        %p.left-header__user__name test_user
        %ul.left-header__user__menu
          %li.left-header__user__list
            %a
              %i.fa.fa-edit
          %li.left-header__user__list
            %a
              %i.fa.fa-cog
    .left-groups
      = render "group"
  .right-content
    .right-content__header
      .right-content__header__group
        %p.right-content__group-name test-group
        %p.right-content__group-index member:yuta
      %a.right-content__header__edit Edit
    .right-content__messages
      = render "message"
    .input-form
      %form.form
        .input-box
          %input{type: "text",class: "inputbox-text",placeholder: "type a message"}
          %label.inputbox-image
            %i.far.fa-image
            %input{type:"file",class: "inputbox-image__input"}
        %input{type: "submit",class: "input-submit",value: "send"}
