.content{
  .right-content{ //right-content start
    float: left;
    width: calc(100vw - 300px);
    &__header{
      height: 100px;
      border-bottom: solid 1px #eeeeee;
      padding: 0 40px;
      &__group{
        padding-top: 35px;
        float: left;
      }
        &__name{
          font-size: 20px;
          color: #333333;
          padding-bottom: 15px;
        }
        &__index{
          font-size: 12px;
          color: #999999;
        }
      &__edit{
        float: right;
        border: solid 1px $light_blue;
        color: $light_blue;
        line-height: 40px;
        margin-top: 28px;
        display: inline-block;
        height: 40px;
        padding: $padding-side20;
      }
    }
    & .right-content__messages{
      height: calc(100vh - 190px);
      background-color: #fafafa;
      overflow: scroll;
      padding: 46px 40px;
      box-sizing: border-box;
      & .right-content__message{
        padding-bottom: 40px;
        &__user-name{
          font-size: 16px;
          color: #434A54;
          font-weight: bold;
          display: inline-block;
        }
        &__created_at{
          font-size: 12px;
          color: #999999;
          padding-left: 10px;
          display: inline-block;
        }
        &__user-message{
          font-size: 14px;
          color: #434A54;
          padding-top: 10px;
        }
      }
    }
    & .input-form{
      height: 90px;
      padding: 20px 40px;
      box-sizing: border-box;
      background-color: #ddd;
      & .form{
        display: flex;
        width: 100%;
        & .input-box{
          width: 100%;
          position: relative;
          &__text{
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            border-style: none;
            box-sizing: border-box;
          }
          &__image{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.3rem;
            &__input{
              display: none;
            }
            & .fa{
              display: inline-block;
            }
          }
        }
        & .input-submit{
          height: 50px;
          width: 100px;
          margin-left: 15px;
          padding: 0 30px;
          background-color: $light_blue;
          color: $white;
        }
      }
    }
  } //right-content end
}
